<div class="md-form card col-sm-3 pb-1 pt-2">
    <p>Choose a region</p>
    <select class="mb-2" [(ngModel)]="Region">
        <option *ngFor="let region of regions" value="{{region}}">{{region}}</option>
    </select>
    <p>Select the number of matches you want to display (1-5)</p>
    <select class="" [(ngModel)]="NumberOfMatches">
        <option *ngFor="let n of numberOfMatches" value="{{n}}">{{n}}</option>
    </select>
    <input #SearchName type="text" class="mr-5 mb-3" placeholder="Username" id="inputPlaceholderEx" (keyup.enter)="SearchUsername(SearchName.value)">
    <p>Press enter to search</p>
</div>

<br>
<div class="card col-sm-6" *ngIf="player && match?.length >= NumberOfMatches && !isLoading && _matchIndex?.length >= NumberOfMatches">
    <div class="card-header">Matches</div>
    <div class="card-block">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Ranking</th>
                    <th>Kills</th>
                    <th>Headshots</th>
                    <th>Assists</th>
                    <th>Damage dealt</th>
                    <th>Total distance travelled</th>
                </tr>
            </thead>
            <tbody *ngFor="let m of match, let i = index">
                <tr> 
                    <td>{{player.data[0].attributes.name}}</td>
                    <td>{{m.included[_matchIndex[i]].attributes.stats.winPlace}}</td>
                    <td>{{m.included[_matchIndex[i]].attributes.stats.kills}}</td>
                    <td>{{m.included[_matchIndex[i]].attributes.stats.headshotKills}}</td>
                    <td>{{m.included[_matchIndex[i]].attributes.stats.assists}}</td>
                    <td>{{m.included[_matchIndex[i]].attributes.stats.damageDealt | number: '1.0-1'}}</td>
                    <td mdbTooltip="Walk distance: {{m.included[_matchIndex[i]].attributes.stats.walkDistance *0.001|number:'1.1-2'}} km Drive distance: {{m.included[_matchIndex[i]].attributes.stats.rideDistance *0.001|number:'1.1-2'}} km">{{(m.included[_matchIndex[i]].attributes.stats.walkDistance + m.included[_matchIndex[i]].attributes.stats.rideDistance)*0.001|number:'1.1-2'}} km</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card col-sm-3" *ngIf="match.length == 0 || isLoading">
    <p>Please wait for the match statistics to be loaded</p>
</div>

<div class="card col-sm-3" *ngIf="match?.length < NumberOfMatches && player">
    <p>This player hasn't played this many matches, select less!</p>
</div>