
    <div class="cont">
        <div class="row">
            <!-- Card -->
            <div class="card col-sm-3 ml-5 p-0">
                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="assets/logo.jpg" alt="Card image cap">
                    <a href="https://playbattlegrounds.com" target="_blank">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title"><b>Welcome player!</b></h4>
                    <!-- Text -->
                    <p class="card-text">This site was created for people to look up their PUBG stats! Keep in mind the api itself is still in beta!</p>
                    <p class="card-text">This site was created by Stefan van der Veeken with Angular and Bootstrap</p>

                </div>

            </div>
            <!-- Card -->

        </div>
    </div>